{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Mathchamp</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            margin: auto;
        }
        td {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="page-container">
    <div class="content-wrap">
        <header>
            <nav>
                <a href="{% url 'index' %}" class="nav-link">Home</a>
                <a href="{% url 'results' %}" class="nav-link">Results</a>
                {% if user.is_teacher %}
                    <a href="{% url 'add task' %}" class="nav-link">Add task</a>
                {% endif %}
                <a href="{% url 'profile details' %}" class="nav-link">Profile</a>
                <a href="{% url 'about us' %}" class="nav-link">About us</a>
                <a href="{% url 'logout' %}" class="nav-link">Log out</a>
            </nav>
        </header>

        {% block page_content %}
        {% endblock %}
        <div class="push"></div>
    </div>
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Mathchamp</h3>

            <p class="footer-links">
                <a href="{% url 'index' %}" class="link-1">Home</a>

                <a href="{% url 'results' %}">Results</a>

                {% if user.is_teacher %}
                    <a href="{% url 'add task' %}">Add task</a>
                {% endif %}

                <a href="{% url 'profile details' %}">Profile</a>
            </p>

            <p class="footer-company-name">Mathchamp © 2022</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-phone"></i>
                <p>Phone number: 088 777 7777</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p>Email: mathchamp@support.com</p>
            </div>


        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span><a href="{% url 'about us' %}" class="footer-links">About us</a></span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
                vehicula sit amet.
            </p>

        </div>

    </footer>

</div>
</body>
</html>