{% extends 'base.html' %}
{% block page_content %}
    <div class="site-description">
        <h2 style="text-align: center;color: #33383b;font-size: 25px">ABOUT US</h2>
        <p style="text-align: center; padding: 9px;font-size: 20px"><b>Mathchamp</b> is a site for anyone who likes competition to be a part of their
            daily routine. Whether you are at the beginning of your education or on the final line, everybody is welcome
            here to solve some interesting math problems in order to prove himself as the <b>Math Champion</b>.</p>
        <p style="text-align: center; padding: 9px;font-size: 20px">We want the competition to be as fair as possible
            and this is the reason why you will compete with students who are at the same grade as you. Teachers will
            provide for you all kinds of math problems with different difficulty. According to its difficulty each task
            will give you a specific number of points, which will help you gain a higher position in your grade’s
            ranking.
        </p>
    </div>

{% endblock %}