{% extends 'base_unauth.html' %}
{% block page_content %}
    <div class="site-description">
        <p style="text-align: center; padding: 15px;font-size: 25px"><b>Are you a fan of mathematics? Do you like
            competitions?</b></p>
        <p style="text-align: center; padding: 9px;font-size: 20px">If your answer to these questions is Yes, then you
            are in the right place. <b>Mathchamp</b> is a site for anyone who likes competition to be a part of their
            daily routine. Whether you are at the beginning of your education or on the final line, everybody is welcome
            here to solve some interesting math problems in order to prove himself as the <b>Math Champion</b>.</p>
        <p style="text-align: center; padding: 9px;font-size: 20px">We want the competition to be as fair as possible
            and this is the reason why you will compete with students who are at the same grade as you. Teachers will
            provide for you all kinds of math problems with different difficulty. According to its difficulty each task
            will give you a specific number of points, which will help you gain a higher position in your grade’s
            ranking.
        </p>
        <p style="text-align: center; padding: 9px;font-size: 20px">You have solved all the provided tasks, but you are
            thirsty for more? Go and ask your math teacher to join
            our group of mathematicians and help us have a bigger diversity of questions for our students.</p>
        <p style="text-align: center; padding: 15px;font-size: 20px"><b>Take a look at our example task:</b></p>
    </div>

    <div id="task_box">
        <h3 style="text-align: center; font-size: 20px">Volume</h3>
        <p style="text-align: center">Tom wants to know how much food his container can hold. The container is 20
            centimetres tall, 10 centimetres long and 10 centimetres wide. What is the container’s volume?</p>
        <p style="padding: 10px; font-size: 18px">Grade: 6&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Points:
            2</p>
    </div>

{% endblock %}